# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter
notebooks/.ipynb_checkpoints

# Data and other resources
*.csv
*.pkl
*.pickle

# Egg etc.
*.egg-info/
**/__pycache__/
notebooks/scrape_odds.ipynb

# Models
models/

